@media screen and (min-width: 1601px) {
    .logo h1 {
        font-size: 5em;
    }

    ul li {
        font-size: 1.3em;
    }
    .slider {
        width: 90vw;
        height: 100vh;
    }

    .content {
        margin-top: -30px;
        width: 55vw;
    }
    .slide .content h1{
        margin-bottom: 20px;
        font-size: 8em;
    }
    .slide .content p {
        font-size: 4em;
        margin-top: -40px;
    }

    #prev,
    #next {
        margin-top: 280px;
        color: blueviolet;
        font-size: 8em;
    }
    #next{
        position: absolute;
        top:85%;
        right:25vw;
    }
    #prev{
        position: absolute;
        top:85%;
        left:10vw;
    }
    .dots{
        position: absolute;
        bottom: -335px;
        left: 530px;
    }
    .dot {
        height: 70px;
        width: 70px;
   }
   .container{
    width: 80vw;
    margin-top: 100px;
}

.main {
    font-size: 4em;
    width: 80vw;
    margin-left: -20px;
}

.container .story .storylist {
    width: 80vw;
    margin-left: -20px;
}
.responsive-story-img{
    height: 260px;
    width: 300px;
}
.story-name {
    font-size: 2em;
    width: 20vw;
    height: 48vh;
}

.story-p {
    font-size: 2em;
    width: 20vw;
    height:330vh;
}

.btn {
    font-size: 1.5em;
    padding: 8px 12px;
}
.story-footer {
        padding: 48px 0;
        height: 35vh;
    }

    .footer-title {
        font-size: 3em;
    }

    .story-footer p {
        font-size: 3em;
    }

    .footer-links {
        height: 10vh;
        gap: 30px;
    }

    .footer-link {
        font-size: 4em;
    }
}


@media screen and (max-width: 1600px) {
    .slider {
        width: 80vw;
        height: 80vh;
    }

    .content {
        width: 55vw;
    }

    #prev,
    #next {
        margin-top: 280px;
        color: blueviolet;
        font-size: 4em;
    }
    #next{
        right:25vw;
    }
    #prev{
        left:10vw;
    }
    .dots{
        position: absolute;
        left: 530px;
    }
    .dot {
        height: 35px;
        width: 35px;
   }
}


@media screen and (max-width: 1280px) {
    .logo h1 {
        font-size: 2.2em;
    }

    ul li {
        font-size: 1.3em;
    }
    .slider {
        width: 90vw;
        height: 100vh;
        margin-left: 20px;
    }

    .content {
        width: 55vw;
    }

    #prev,
    #next {
        margin-top: 280px;
        color: blueviolet;
        font-size: 4em;
    }
    #next{
        position: absolute;
        top:60%;
        right:20vw;
    }
    #prev{
        position: absolute;
        top:60%;
        left:20vw;
    }
    .dots{
        position: absolute;
        bottom: -230px;
        left: 530px;
    }
    .dot {
        height: 35px;
        width: 35px;
   }
   .container{
    width: 80vw;
    margin-top: 40px;
}

.main {
    font-size: 4em;
    width: 80vw;
    margin-left: -20px;
}

.container .story .storylist {
    width: 80vw;
    margin-left: -20px;
}
.responsive-story-img{
    height: 250px;
    width: 400px;
}
.story-name {
    font-size: 2em;
    width: 31vw;
    height: 40vh;
}

.story-p {
    font-size: 2em;
    width: 31vw;
    height:320vh;
}

.btn {
    font-size: 1.5em;
    padding: 8px 12px;
}


    .story-footer {
        padding: 32px 0;
        height: 35vh;
        width: 99vw; 
    }

    .footer-title {
        font-size: 1.3em;
    }

    .footer-links {
        gap: 20px;
        font-size: 0.8em;
        width: 99vw;
        height: 20vh;
    }

}


@media screen and (max-width: 940px) {
    
    header {
        padding: 15px;
        width: 99vw;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    ul {
        flex-direction: column;
        gap: 10px;
    }

    .logo h1 {
        font-size: 2em;
    }

    ul li {
        font-size: 1.2em;
    }
    .slider {
        width: 90vw;
        height: 90vh;
        margin-left: 6px;
    }
    .slide{
        width: 90vw;
    }

    .content {
        top: 80px;
        left: 20px;
        width: 70vw;
    }
    .slide .content h1{
        margin-top: -100px;
        font-size: 4em;
    }
    .slide .content p {
        margin-top: -10px;
        width: 60vw;
        font-size: 2em;
    }

    #prev,
    #next {
        margin-top: 330px;
        color: blueviolet;
        font-size: 3em;
    }
    #next{
        position: absolute;
        top:75%;
        right:20vw;
    }
    #prev{
        position: absolute;
        top:75%;
        left:10vw;
    }
    .dots{
        position: absolute;
        bottom: -330px;
        left: 330px;
    }
    .dot {
        height: 35px;
        width: 35px;
   }
   .container{
    width: 80vw;
    margin-top: 40px;
}

.main {
    font-size: 4em;
    width: 80vw;
    margin-left: -20px;
}

.container .story .storylist {
    width: 80vw;
    margin-left: -20px;
}
.responsive-story-img{
    height: 350px;
    width: 550px;
}
.story-name {
    font-size: 3em;
    width: 61.6vw;
    height: 68vh;
}

.story-p {
    font-size: 2em;
    width: 61.5vw;
    height:240vh;
}

.btn {
    font-size: 1.5em;
    padding: 8px 12px;
}

.story-footer {
    padding: 24px 0;
    font-size: 1.8em;
    width: 97vw;
    height: 53vh;
}

.footer-title {
    font-size: 1.2em;
}

.footer-links {
    gap: 10px;
    font-size: 1.2em;
    height: 25vh;
    width: 97vw;
}
}


@media screen and (max-width: 768px) {
    header {
        padding: 15px;
        width: 99vw;
    }

    .logo h1 {
        font-size: 1.8em;
    }

    ul li {
        font-size: 1.1em;
    }
    .slider {
        width: 95vw;
        margin-left: 20px;
    }
    .slide{
        left:-2px;
        width: 100vw;
    }

    .content {
        top: 60px;
        left: 10px;
        width: 80vw;
    }
    .slide .content h1{
        margin-top: -60px;
        font-size: 2em;
    }
    .slide .content p {
        margin-top: 40px;
        width: 80vw;
        font-size: 1em;
    }

    #prev,
    #next {
        margin-top: 270px;
        color: blueviolet;
        font-size: 3em;
    }
    #next{
        top:85%;
        right:20vw;
    }
    #prev{
        top:85%;
        left:20vw;
    }

    .dots{
        position: absolute;
        top: 750px;
        left: 350px;
        width: 25vw;
    }
    .dot {
        height: 18px;
        width: 18px;
    }

    .container{
        width: 70vw;
        margin-top: 40px;
        margin-left: 40px;
    }
    
    .main {
        font-size: 4em;
        width: 70vw;
        margin-left: 20px;
    }
    
    .container .story .storylist {
        width: 80vw;
        margin-left: -20px;
    }
    .responsive-story-img{
        height: 250px;
        width: 380px;
    }
    .story-name {
        font-size: 2em;
        width: 50.5vw;
        height: 45vh;
    }
   
    .story-p {
        font-size: 2em;
        width: 50.5vw;
        height: 330vh;
    }

    .btn {
        font-size: 1.5em;
        padding: 8px 12px;
    }
   
    .story-footer {
        padding: 24px 0;
        font-size: 1.5em;
        width: 99vw;
        height: 46vh;
    }

    .footer-title {
        font-size: 1.2em;
        width: 99vw;
    }

    .footer-links {
        gap: 10px;
        font-size: 0.7em;
        width: 99vw;
        height: 10vh;
    }
}


@media screen and (max-width: 480px) {
    
    header {
        width: 99vw;
        padding: 10px;
        height: 48vh;
    }
    .logo h1 {
        font-size: 1.5em;
    }

    ul {
        gap: 5px;
    }

    ul li {
        font-size: 1em;
    }

    #icon {
        font-size: 1.5em;
    }
    .slider {
        height: 50vh;
        width: 95vw;
        margin-left: 5px;
    }

    .content {
        top: -80px;
        left: 5px; 
        width: 90vw;
        font-size: .5em;
    }
    .slide .content h1{
        margin-top: -120px;
        font-size: 4em;
    }
    .slide .content p {
        margin-top: -20px;
        width: 80vw;
        font-size: 2em;
    }

    #prev,
    #next {
        color: blue;
        font-size: 2.5em;
        margin-top: 140px;
    }
    #next{
        position: absolute;
        top:67%;
        right: 20vw;
    }
    #prev{
        position: absolute;
        top:67%;
        left:20vw;
    }
    .dots{
        margin-left: -70px;
    }

    .dot {
        height: 10px;
        width: 10px;
        top: -365px;
        left: 20px;
    }

    .container{
        width: 60vw;
        margin-top: 40px;
        margin-left: 80px;
    }
    .main {
        width: 40vw;
        font-size: 3em;
    }
    .container .story .storylist {
        width: 80vw;
        margin-left: -60px;
    }
    .responsive-story-img{
        height: 200px;
        width: 250px;
    }
    
    .story-name {
        font-size: 1.5em;
        width: 58vw;
        height: 25vh;
    }
   
    .story-p {
        font-size: 1.5em;
        width: 58vw;
        height: 290vh;
    }

    .btn {
        font-size: 1.2em;
        padding: 8px 12px;
    }
    .story-footer {
        padding: 16px 0;
        width: 98vw;
        height: 25vh;
        font-size: 0.7em;
    }

    .footer-title {
        font-size: 1em;
    }

    .footer-links {
        gap: 5px;
        font-size: 0.7em;
        height: 25vh;
        width: 98vw;
    }
}